body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:841px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:640px;
  opacity:0.75;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:640px;
}
#u3 {
  position:absolute;
  left:2px;
  top:312px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:253px;
  top:80px;
  width:335px;
  height:120px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:120px;
}
#u5 {
  position:absolute;
  left:2px;
  top:52px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:270px;
  top:210px;
  width:300px;
  height:23px;
  font-family:'TrebuchetMS-Bold', 'Trebuchet MS Bold', 'Trebuchet MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:23px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:316px;
  top:250px;
  width:210px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'TrebuchetMS', 'Trebuchet MS';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u9 {
  position:absolute;
  left:316px;
  top:285px;
  width:210px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'TrebuchetMS', 'Trebuchet MS';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u10 {
  position:absolute;
  left:316px;
  top:320px;
  width:210px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'TrebuchetMS', 'Trebuchet MS';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u11 {
  position:absolute;
  left:316px;
  top:355px;
  width:210px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  font-family:'TrebuchetMS', 'Trebuchet MS';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u12 {
  position:absolute;
  left:203px;
  top:410px;
  width:417px;
  height:12px;
  font-family:'TrebuchetMS', 'Trebuchet MS';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:12px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:230px;
  top:444px;
  width:390px;
  height:36px;
  font-family:'TrebuchetMS', 'Trebuchet MS';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:36px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:203px;
  top:444px;
  width:10px;
  height:16px;
  font-size:10px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:203px;
  top:500px;
  width:417px;
  height:36px;
  font-family:'TrebuchetMS', 'Trebuchet MS';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:36px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:430px;
  top:560px;
  width:90px;
  height:30px;
  font-family:'TrebuchetMS', 'Trebuchet MS';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:320px;
  top:560px;
  width:90px;
  height:30px;
  font-family:'TrebuchetMS', 'Trebuchet MS';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
